@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Cascadia Code;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  place-content: center;
  background-color: black;

}

#root {
  min-height: 100vh;
  height: fit-content;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.test {
  min-height: 100vh;
}

.animated-heading {
  letter-spacing: 2px;
}

.animated-heading::after,
.animated-heading::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.animated-heading::after {
  background-color: rgb(15 23 42);
  animation: writer 2s ease-in forwards;
}

@keyframes writer {
  to {
    left: 100%
  }
}

.hero {
  opacity: 0;
  transform: translateY(-30%);
  animation: slideDown .5s 2s ease-in forwards;
}


.welcome {
  margin-top: 5px;
  opacity: 0;
  transform: translateY(50%);
  animation: slideUp 0.5s 2.5s ease-in both;
}

@keyframes slideUp {
  to {
    opacity: 100;
    transform: translateY(2%);
  }
}

@keyframes slideDown {
  to {
    opacity: 100;
    transform: translateY(-20%);
    filter: drop-shadow(0 0 10px black);
  }
}

.goUpBtn:hover {
  background-color: gold;
  color: black;
  animation: translateUp 0.3s ease forwards
}

@keyframes translateUp {
  to {
    transform: translateY(-15%);
  }
}

.active-link {
  filter: drop-shadow(0 0 5px white);
  color: rgb(251 191 36);
}

.logo {
  transform: scale(4);
  filter: sepia(100%);
}

.htmlIco:hover {
  filter: drop-shadow(0 10px 10px rgb(208, 66, 66));
  transition-duration: 300ms;
}

.cssIco:hover {
  filter: drop-shadow(0 10px 10px rgb(81, 120, 226));
  transition-duration: 300ms;
}

.jsIco:hover {
  filter: drop-shadow(0 10px 10px rgb(175, 159, 71));
  transition-duration: 300ms;
}

.reactIco:hover {
  filter: drop-shadow(0 10px 10px rgb(66, 184, 208));
  transition-duration: 300ms;
}

.viteIco:hover {
  filter: drop-shadow(0 10px 10px rgb(167, 94, 226));
  transition-duration: 300ms;
}

.tailwindIco:hover {
  filter: drop-shadow(0 10px 10px rgb(69, 156, 162));
  transition-duration: 300ms;
}

.gitIco:hover {
  filter: drop-shadow(0 10px 10px rgb(206, 126, 126));
  transition-duration: 300ms;
}

.githubIco:hover {
  filter: drop-shadow(0 10px 10px rgb(228, 221, 221));
  transition-duration: 300ms;
}

.projectCard>div {
  transition: 0.5s;
}

@media (min-width:640px) {
  .projectCard:hover div {
    transform: translateY(0);
  }

  .projectCard:hover img {
    transform: scale(1.2);
  }
}

  .hover-1:hover {
    transition: .3s;
    transform: scale(1.2);
    color: rgb(251 191 36);
  }

  .hover-1:hover a {
    transition: .3s;
    filter: drop-shadow(0 0 5px white);
  }

.animated-buttons {
  animation: slideUp 0.5s 3s ease-in forwards;
}

.infocard:hover p {
  filter: drop-shadow(0 0 5px white);
  transition: 0.3s;
}

.name-span {

  filter: drop-shadow(0 0 1px white);

}

.scroll-hook {
  animation: ease-enter 1s 3.5s ease forwards ;
}

@keyframes ease-enter {
  to {
    opacity: 50%;
  }
}